# MongoDB database connection
MONGO_URI=mongodb://127.0.0.1:27017/college_library_system

# Backend server port
PORT=5000

# JWT login token settings
JWT_SECRET=change_this_secret_key
JWT_EXPIRES_IN=7d

# Frontend URL for CORS. Keep * for simple local project.
CLIENT_URL=*

# Fine per late day in Pakistani Rupees
FINE_PER_DAY=20
